.ban {
    width: 100%;
    max-width: 100%;
    margin-left: -2%;
    background-image: url('../img/collage-paysage-magique.jpg');
}

.ban img {
    width: 100%;
    max-width: 100%;
    margin-left: -2%;
    


    
}
.carousel-inner {
    width: 100%;
    max-width: 50%;
    

}
.carousel-item{
    width: 40%;
    max-width: 40%;
  

}
body {
   /* background-image:url("../img/collage-paysage-magique.jpg") ;*/
margin-left: -1.1%;
margin-right: -5.2%;
    

}

fieldset{
    color:#FF4F22  ;
}
.suite img{
    width: 33%;
    max-width: 39%;
}

.photo{
    float: left ;
    flex-direction: column;
    white-space: 10%
}
.navbar{
    margin-left: 1%;
margin-right: 1%;
flex-direction: column;

}

footer {
    text-align: center;
    
    padding: 5px;
    background-color: #b0c9c9;
    color: #000;
  }
  
    .test{
        width: 700px;
    }